.snakemake/*

*.faa
*.fna
*.ffa
*.ffn
*.gff
*.fa
*.fasta
*.fastq

*.tmp
*.sam
*.bam

*.pac
*.sa
*.amb
*.ann
*.bwt
*.fai

*.zip
*.gz
*.log
*.benchmark
*.e
*.o
*.pickle
*.pkl
*.csv

*_df_detected_genes_info.csv
*gene_og_coreness.tsv*
*og_matrix.csv*
*.pkl*
*.pickle*
*all_sample_genes*
*cluster_matrix*
*RDataTemp*
*20230313_gene_catalog_list.txt*
*gene_og_coreness.tsv*
*RData*
*cluster_matrix.csv*
*20230313_gene_catalog_list.txt*

results/figures/08-summarize_functions/og_matrix.csv
results/figures/workspace_generaldata_chunks_20230611.RData
results/figures/clusters_objects_collection.pkl
results/figures/all_sample_genes_df.csv
results/figures/visualize_temp/genes_detected_sets.pkl
results/figures/08-summarize_functions/cluster_matrix.csv
.RDataTmp
results/figures/20230313_gene_catalog_list.txt
results/figures/gene_og_coreness.tsv

results/01*
results/02*
results/03*
results/04*
results/05*
results/06*
results/07*
results/08*
results/09*
results/10*
results/11*
results/12*
results/13*
results/14*
results/15*
results/export*
results/figures/0*
results/figures/visualize_temp*
results/figures/11-*
results/figures/08-summarize_functions/*
results/figures/08-summarize_functions*
*magotu_shared_same_diff_all_pairs.csv
results/figures/12-cophylogeny_test/*/intermediate_files/*
results/figures/10-*
*/.snakemake/*
*data/*

temp
temp*
temp/*

# tracked in another repo
scripts/PopCOGenT*
results/._.DS_Store
results/.DS_Store
results/figures/*
archive/*

node_modules/*
package*