.snakemake/*

*.faa
*.fna
*.ffa
*.fa
*.fasta

*.tmp
*.sam
*.bam

*.pac
*.sa
*.amb
*.ann
*.bwt
*.fai

*.zip
*.gz

*_nas_backup_220826.log

*/OrthoFinder/*
logs/*
fastqc/*
database/*
Figures/*
00_RawData*/*
01_Trimmed*/*
02_HostMapping*/*
03_MicrobiomeMapping*/*
04_MicrobiomeMappingDirect*/*
04_CoreCov_211018_Medgenome_india_samples*/*
database*/*
05_Assembly*/*
06_MAG_binning*/*
07_Phylogenies*/*
07_AnnotationAndPhylogenies*/*
08_motus_profile*/*
09_MagDatabaseProfiling*/*
*12_species_validation*
00_*/*
01_*/*
02_*/*
03_*/*
04_*/*
05_*/*
06_*/*
07_*/*
08_*/*
10_*/*
09_*/*
11_*/*
12_*/*
13_*/*
14_*/*
15_MIDAS*/*
*_files/*
*_cache/*
*backup_*.log
*MetaPop*
assembly_summary_genbank.txt
*OLD*
temp*
bench*
snakemake_bak
BACKUP
