.snakemake/*

*.faa
*.fna
*.ffa
*.ffn
*.gff
*.fa
*.fasta
*.fastq

*.tmp
*.sam
*.bam

*.pac
*.sa
*.amb
*.ann
*.bwt
*.fai

*.zip
*.gz
*.log
*.benchmark
*.e
*.o

results/*
results/*
*/.snakemake/*
data/*
